<!DOCTYPE html>
<html>
<head lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Go Go West!</title>
</head>
<body>
<h1>How your suburb compares against Western Sydney?</h1>
<form>
    <input type="text" name="suburb" style="width: 600px;" />
    </br>
    <input type="button" name="go" value="Go!"" >
</form>
</body>
</html>