{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Go Go West!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap-theme.min.css">
    <link href="{% static "css/cover.css" %}" rel="stylesheet">
</head>

<body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <div class="inner cover">
            {% if not info %}
            <h1 class="cover-heading">Go West!</h1>
            <p class="lead">How does Western Sydney compare to your suburb of choice?</br>
                Find out the facts - all may not be as you currently presume.</p>
              </br> </br> </br> </br>
            {% endif %}
            <p class="lead">Suburb:
              <span class="glyphicon glyphicon-screenshot"></span>
                <input id="txtcompare" class="form-control" type="text" data-provide="typeahead"
                data-source='{{non_ws_suburbs|safe}}' />
            </p>
            <p class="lead">
              <a id="btncompare" href="#" class="btn btn-lg btn-default">Compare</a>
            </p>
          </div>

          {% if info %}
          </br> </br> </br> </br>
          <div class="inner cover">
            <h1 class="cover-heading">Facts</h1>
            <p class="lead">
                <!--{{ info }}-->
                {% if medianrent %}
                <h3>{{ medianrent.heading }}</h3>
                {% for line in medianrent.text %}
                {{ line }}<br />
                {% endfor %}
                {% endif %}
                {% if redlightfines %}
                <h3>{{ redlightfines.heading }}</h3>
                {% for line in redlightfines.text %}
                {{ line }}<br />
                {% endfor %}
                {% endif %}
                <br />{{ crimerank }}<br />
                <br />
                Also, you are missing out
                {% for item in randomattractions %}
                     <a href="{{ item.url }}">{{ item.place }}</a> and
                {% endfor %} more if you don't visit Western Sydney! Visit
                <a href="http://www.sydney.com/destinations/sydney/sydney-west">Sydney.com</a> for more attractions! <br />
                 <br />
                And do you want to spent time in exciting events? Check out
                {% for item in randomevents %}
                     <a href="{{ item.url }}">{{ item.place }}</a> and
                {% endfor %} more if you don't visit Western Sydney! Visit
                <a href="http://www.sydney.com/destinations/sydney/sydney-west/events">Sydney.com</a> for more activities! <br />
            </p>
          </div>
          {% endif %}
          <div class="mastfoot">
            <div class="inner">
              <p>Created by #GovHack 2014 Team Optimer Prime.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="{% static "js/plugins.js" %}"  ></script>
    <script>
         $('#top-nav').onePageNav({
             currentClass: 'active',
             changeHash: true,
             scrollSpeed: 1200
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            var getCompareLink = function() {
                return "?compare=" + document.getElementById("txtcompare").value;
            }
            // click button submits request
            $('#btncompare').click(function() {
                window.location = getCompareLink();
            });

            // Press enter clicks button
            $('#txtcompare').keypress(function(e){
                if(e.keyCode==13) {
                    window.location = getCompareLink();
                }
            });

            document.getElementById('txtcompare').focus();
        });
    </script>
  </body>
</html>
