{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Go West!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
    <link href="{% static "css/gowest.css" %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>

  {% if not info %}

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static "img/bgr2.jpg" %}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Go Western Sydney!</h1>
              <p class="lead">How does Western Sydney compare to your suburb of choice?</br>
                Find out the facts - all may not be as you currently presume.</p></br></br>
            <p class="lead">
                <i class="fa fa-location-arrow fa-1x"></i>
                Suburb:
              <span class="glyphicon glyphicon-screenshot"></span>
                <input id="txtcompare" class="form-control" type="text" data-provide="typeahead"
                data-source='{{non_ws_suburbs|safe}}' value="{{ compare }}" />
            </p>
              <a id="btncompare" href="#" class="btn btn-large btn-primary">Compare</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endif %}


  {% if info %}

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static "img/bgr2.jpg" %}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>How does Western Sydney compare to {{ compare }}?</h1></br>
            <p class="lead">Have you ever considered the advantages of living, working or visiting Western Sydney? </br>The results may surprise you!</p></br>
            <p class="lead">
                <i class="fa fa-location-arrow fa-1x"></i>
                Suburb:
                <input id="txtcompare" class="form-control" type="text" data-provide="typeahead"
                data-source='{{non_ws_suburbs|safe}}' value="{{ compare }}" />
            </p>
              <a id="btncompare" href="#" class="btn btn-large btn-primary">Compare</a>
            </div>
          </div>
        </div>
      </div>
    </div>


      <!-- START THE FEATURETTES -->
    <div class="container marketing">

      <h3 class="">Please check the results below... <i class="fa fa-level-down fa-2x"></i> </h3>

        <!--{{ info }}-->

      {% if costOfLiving %}
      <div class="featurette">
        <img class="featurette-image pull-right" src="{% static "img/family_house.png" %}">
        <h2 class="featurette-heading">{{ costOfLiving.heading }}<span class="muted"></span></h2>
        <p class="lead">
            {% for line in costOfLiving.text %}
            {{ line }}<br />
            {% endfor %}
        </p>
      </div>
      {% endif %}

      <div class="featurette">
        <img class="featurette-image pull-left" src="{% static "img/helping_elderly.png" %}">
        <h2 class="featurette-heading">Safety
            <span class="muted"></span></h2>
        <p class="lead">
            {{ crimerank }}
        </p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="{% static "img/kids_playing.png" %}">
        <h2 class="featurette-heading">Attractions and events</h2>
        <p class="lead">
                You would be unable to enjoy {% for item in randomattractions %}
                     <a href="{{ item.url }}">{{ item.place }}</a>,
                {% endfor %} as well as a veritable myriad of other exciting destinations if you don't visit Western Sydney! Visit
                <a href="http://www.sydney.com/destinations/sydney/sydney-west">Sydney.com</a> for more attractions! <br />
                 <br />
                And do you want to spend time at exciting events? Check out
                {% for item in randomevents %}
                     <a href="{{ item.url }}">{{ item.place }}</a> and
                {% endfor %} more in Western Sydney! Visit
                <a href="http://www.sydney.com/destinations/sydney/sydney-west/events">Sydney.com</a> for more activities! <br />
        </p>
      </div>

      <hr class="featurette-divider">

                {% if redlightfines %}
      <div class="featurette">
        <img class="featurette-image pull-right" src="{% static "img/driver.png" %}">
        <h2 class="featurette-heading">Travel and transport
        <p class="lead">
                {% for line in redlightfines.text %}
                {{ line }}<br />
                {% endfor %}
        </p>
      </div>
                        {% endif %}


      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
    {% endif %}

         <h2 class="featurette-heading">Share these awesome facts via Twitter now</h2>
        <p class="lead">
            Click the Twitter button below!
                <br />

        </p>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Why Western Sydney is more Awesome" data-size="large" data-hashtags="gowest">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <!-- FOOTER -->
      <footer>
          <p></br></p>
          <p></br></p>
        <p>Created by #GovHack 2014 Team "Optimer Prime"</p>
      </footer>

    </div><!-- /.container -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="{% static "js/plugins.js" %}"  ></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var getCompareLink = function() {
                return "?compare=" + document.getElementById("txtcompare").value;
            }
            // click button submits request
            $('#btncompare').click(function() {
                window.location = getCompareLink();
            });

            // Press enter clicks button
            $('#txtcompare').keypress(function(e){
                if(e.keyCode==13) {
                    window.location = getCompareLink();
                }
            });

            document.getElementById('txtcompare').focus();
        });
    </script>
  </body>
</html>
